<div class="row .cst-list">
        <div class="col-md-2 .cst-list">Id</div>
        <div class="col-md-2 .cst-list">First Name</div>
        <div class="col-md-2 .cst-list">Last Name</div>
        <div class="col-md-2 .cst-list">Email</div>
        <div class="col-md-2 .cst-list">Edit</div>
        <div class="col-md-2 .cst-list">Delete</div>
</div>

<div class="row .cst-list" *ngFor="let cst of customers">
    <div class="col-md-2 .cst-list">{{cst.cId }}</div>
    <div class="col-md-2 .cst-list">{{cst.fName}}</div>
    <div class="col-md-2 .cst-list">{{cst.lName}}</div>
    <div class="col-md-2 .cst-list">{{cst.email}}</div>
    <div class="col-md-2 .cst-list"><button class="btn btn-danger" (click)="edit(cst)">EDIT</button>
    <div class="col-md-2 .cst-list"><button class="btn btn-danger" (click)="delete(cst)">DELETE</button></div>
</div>
<div>
    <a routerLink="/add" class="btn btn-primary"> Add New Customers</a>
</div>