<div class="add-main">
    <h2 class="text-center">Edit Customer</h2>
    <form [formGroup]="addForm" novalidate class="form">

        <input type="hidden" formControlName="cId" name="cId">

        <div class="form-group">
            <label for="fName">First Name:</label>
            <input type="text" formControlName="fName" placeholder="Customers First Name" name="fName"
                class="form-control">
        </div>

        <div class="form-group">
            <label for="lName">Last Name:</label>
            <input type="text" formControlName="lName" placeholder="Customers Last Name" name="lName"
                class="form-control">
        </div>

        <div class="form-group">
            <label for="email">Email:</label>
            <input type="email" formControlName="email" placeholder="Customers email" name="email" class="form-control">
        </div>

        <button class="btn btn-success" (click)="update()">Edit Customer</button>
    </form>

    <a routerLink="/view" class="btn btn-primary"> View Customers</a>
</div>